/* module-layout.component.css */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-area {
  display: flex;
  flex: 1;
}

app-sidebar {
  width: 250px;
}

.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

app-navbar {
  height: 60px;
  width: 100%;
}


